@import '../Main.module';

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(90deg, #ACE1C5 0%, #A1CD86 100%);
  border-left: none;
  border-right: none;
}

.messages__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
}
