@import '../../styles/colors';

.input {
  width: 100%;
  height: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid $input-border;

  &:hover {
    border: 1px solid $input-hover;
  }

  &:focus {
    border: 1px solid $accent-blue;
  }
}
