.input {
  width: 100%;
  height: 40px;
  padding: 20px 30px 20px 20px;
  background-color: var(--color_white);
  border-radius: 10px;
  border: 1px solid var(--color_input-border);
}

.input:hover {
  border: 1px solid var(--color_input-hover);
}

.input:focus {
  border: 1px solid var(--color_accent-blue);
}
