@import '../../styles/colors';

.button {
  height: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #FFF;
  background-color: $accent-blue;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.button:hover {
  color: #000;
  background-color: transparent;
  border: 1px solid $accent-blue;
}
