.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
