@import '../../styles/colors';

.message {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.message__img, .message__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 250px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: rgba(0,0,0, .1);
}

.message__img img, .message__video video {
  height: 100%;
  object-fit: contain;
}

.message__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;

  & a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.message__text {
  margin: 10px 0;
  word-break: break-word;
}

.message__reactions {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 10px 0;

  & svg {
    width: 20px;
    height: 20px;
    fill: $secondary-text;
    cursor: pointer;

    &:hover {
      fill: #A1CD86;
    }
  }
}

.link {
  display: block;
  margin-right: auto;
}

.message__data {
  text-align: end;
}
