$main-text: #222;
$secondary-text: #999;
$accent-blue: #419fd9;

// ------ Chat Colors Starts ------ //

$chats-active: #bcccdc;
$chats-hover: #f5f5ff;

// ------ Chat Colors Ends ------ //


// ------ Message Colors Starts ------ //

$message: #FFF;
$message-hover: #EEE;

$message-active: #effdde;
$message-active-hover: #d6eabd;

$message-date: #4fae4e;

// ------ Message Colors Ends ------ //


$input-border: #dfe1e5;
$input-hover: #c4c9cc;
