.skeleton {
  position: relative;
  background-color: #fff;
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

.loading-item {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
  &_chat {
    min-height: 75px;
  }
  &_feed {
    min-height: 100px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
