@import 'colors.css';
@import 'null.scss';
@import 'mixins.scss';
@import 'fonts.scss';

$fontFamily: 'Lab Grotesque', sans-serif;

body {
    font-family: $fontFamily;
    color: var(--color_main-text);
}

a {
    color: var(--color_accent-blue);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(148, 155, 166, .6);
    border-radius: 10px;
}
