@import 'null.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'colors.scss';

$fontFamily: 'Lab Grotesque', sans-serif;

body {
    font-family: $fontFamily;
    color: $main-text;
}

.container {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(148, 155, 166, .6);
    border-radius: 10px;
}
