@import '../../../styles/colors';
@import '../Main.module';

.comments {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  border-radius: 0 10px 0 0;
  background: $green-background;
}

.comments__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
}
