.search {
  position: relative;
  display: flex;
  align-items: center;
  align-content: stretch;
  gap: 10px;
  width: 40%;
  min-width: 300px;
  padding: 10px;
}

.close {
  position: absolute;
  right: 20px;
  transition: all .3s ease-in-out;
  color: var(--color_input-border);
  cursor: pointer;
}

.close:hover {
  color: red;
}
