@import '../../styles/colors';

.input {
  position: relative;
  display: flex;
  align-items: center;
  align-content: stretch;
  gap: 10px;
  width: 40%;
  min-width: 300px;
  padding: 10px 0;
}

.close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  color: $input-border;

  &:hover {
    color: red;
  }
}
