.main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 25% calc(((100% / 4) * 3) / 2) calc(((100% / 4) * 3) / 2);
  width: 100%;
  overflow: auto;
  padding: 0 10px;
  transition: all .3s ease;
}

.wide {
  grid-template-columns: 84px calc(((100% / 4) * 3) / 2) 1fr;
}
