@import '../../styles/colors';

.post {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: $message;
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &.active {
    background-color: $message-active;

    &:hover {
      background-color: $message-active-hover;
    }
  }

  &:hover {
    background-color: $message-hover;
  }
}

.post__info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  font-size: 14px;

  & a {
    &:hover {
      text-decoration: underline;
    }
  }

  & img {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    height: 100%;
    object-fit: cover;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $message-hover;
      width: 100%;
      height: 100%;
    }
  }
}

.text__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
}

.post__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 50px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: block;
  margin-right: auto;
  color: $accent-blue;
}

.post__data {
  display: block;
  margin-left: auto;
  text-align: flex-end;
  color: $message-date;
}
