.chats {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    width: calc(100%/4);
}

.chats__blank {
    min-height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #D4D4D4;
    overflow: hidden;
}

.chats__blank img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chats__layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    overflow-y: auto;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #D4D4D4;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.chat.active {
    background-color: #BCCCDC;
    border: 2px solid #627D98;
}

.chat:hover {
    background-color: #BCCCDC;
    border: 2px solid #627D98;
}

.chat__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #949BA6;
    flex-shrink: 0;
    overflow: hidden;
}

.chat__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat__description {
    display: block;
    padding: 10px 0;
}
