@import '../../styles/colors';

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 75px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s ease-in-out;

  &.active {
    color: #FFF;
    background-color: $accent-blue !important;
  }

  &:hover {
    background-color: $chats-hover;
  }
}

.group__logo {
  position: sticky;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #949BA6;
  flex-shrink: 0;
  overflow: hidden;
}

.group__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group__text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.group__title {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group__link {
  display: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.group__description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
