.message {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: #FFF;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.message:hover {
  background-color: #eee;
}

.message__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  font-size: 14px;

  & a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.text__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  & img {
    width: 40px;
    height: 40px;
  }

}

.message__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 50px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: block;
  margin-right: auto;
}

.message__data {
  text-align: end;
  color: #4fae4e;
}
